.appointment-card {
  width: 90%;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.card-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin: 0;
}

.card-body {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.appointment-card-labels {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  margin-left: 1rem;
  width: 150px;
  margin-bottom: 10px;
}

.user-details h3 {
  margin: 0;
  font-size: 18px;
  word-wrap: break-word;
}

.user-details p {
  margin: 5px 0 0;
  color: #555;
}

.appointment-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.appointment-date h3 {
  margin: 0;
  font-size: 1.1rem;
}

.appointment-date p {
  margin: 5px 0 0;
  font-size: 1rem;
  word-wrap: break-word;
}

.appointment-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appointment-reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.appointment-reason h3 {
  margin: 0;
  font-size: 1.1rem;
}

.appointment-reason p {
  margin: 5px 0 0;
  font-size: 1rem;
  word-wrap: break-word;
  width: 150px;
}

.appointment-card-divider {
  height: 1px;
  background-color: black;
  margin: 20px 0;
  width: 100%;
}

@media (max-width: 620px) {
  .card-body {
    flex-direction: column;
  }

  .user-details {
    margin-left: 0;
    width: 80%;
    margin-top: 1rem;
  }

  .appointment-card-labels {
    flex-direction: column;
    align-items: normal;
  }

  .appointment-date {
    width: 80%;
    margin-top: 1rem;
  }
}
