.journal-page {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.journal-list-section {
  border-radius: 20px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 400px;
  margin-right: 2rem;
}

.journal-form-section {
  border-radius: 20px;
  padding: 1rem;
  background: var(--primary-color);
  height: 80vh;
  width: 600px;
}

.journal-list-section h1 {
  font-size: 24px;
}

.journal-list {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  overflow: auto;
}

.journal-item {
  width: 100%;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 15px;
  display: flex;
  padding: 10px;
}

.journal-item-label {
  width: 95%;
}

.journal-item-label h3 {
  font-size: 20px;
}

.journal-item-label p {
  font-size: 14px;
}

.journal-view-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.journal-view-header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal-view-header h2 {
  font-size: 24px;
  margin: 0;
}

.edit-journal-button {
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 0;
}

.journal-view-title {
  margin-top: 1rem;
  align-items: start;
  width: 100%;
}

.journal-view-title h1 {
  font-size: 24px;
  text-transform: capitalize;
}

.journal-view-title p {
  font-size: 18px;
  font-style: italic;
  margin: 0;
}

.journal-view-message {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 75%;
  overflow-x: auto;
  padding: 10px;
  margin-bottom: 1rem;
}

.journal-view-message p {
  word-break: break-word;
  hyphens: auto;
  text-align: left;
  white-space: pre-wrap;
}

.journal-edit-section h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
}

.journal-textarea {
  height: 55vh;
  margin: 0 !important;
}

@media (max-width: 900px) {
  .journal-page {
    flex-direction: column;
    justify-content: start;
  }
  .journal-list-section {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}

@media (max-width: 630px) {
  .journal-form-section {
    width: 450px;
  }
}

@media (max-width: 480px) {
  .journal-list-section {
    width: 350px;
  }
  .journal-form-section {
    width: 350px;
    height: 90vh;
  }
}

@media (max-height: 1000px) {
  .journal-textarea {
    height: 45vh;
    margin: 0 !important;
  }
}

@media (max-height: 800px) {
  .journal-textarea {
    height: 40vh;
    margin: 0 !important;
  }
}
