:root {
  --primary-color: #ffe709;
  --secondary-color: #1c2a5b;
  --tertiary-color: #b1abab;
  --danger-color: #ff3030;
  --warning-color: #ffe56f;
  --success-color: #28a745;
  --gradient-start: #b4edd8;
  --gradient-end: #21d1e9;
  --dark-primary-color: #c0b235;
  --dark-tertiary-color: #162147;
  --dark-danger-color: #bb4343;
  --dark-success-color: #218d3a;
  --background-color: #FFFDD0;
  --font-size: 16px;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
