.account-request-page {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.account-request-search-bar {
  width: 80%;
  margin: 1rem 0;
}
